@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Varela+Round&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
}
nav{
    font-family: 'Ubantu',sans-serif;
}
nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 50px;
    background-color: black;
    color: white;
}
nav ul li{
    padding: 0 10px;
}
.brand img{
    width: 44px;
    padding: 0 8;
}
.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3 rem;
}
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   background-image: url('bg.jpg');
   background-size: cover;
}
.bottom{
    position: sticky;
    height: 80px;
    background-color: black;
    bottom: 12px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column ;
}
.icons{
    margin-top: 14px;
}
.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItemContainer{
    margin-top: 34px;
}

.songItem{
    height: 45px;
    display: flex;
    background-color: white;
    width: 75%;
    color: black;
    margin: 12px 0;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}

.songItem img{
    width: 43px;
    margin: 0 23px;
    border-radius: 25px;
}

.timestamp{
    margin: 0 23px;
}

.timestamp i{
    cursor: pointer;
}

.songInfo{
    font-family: 'Varela Round', sans-serif;
    position: absolute;
    left: 9.5vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
}


